body {
    background-image: url("images/picture.jpg");
    background-repeat: no-repeat;
    font-family: 'Kaisei HarunoUmi', serif;
    
  }
#pfp {
    position: relative;
    left: 32%;
}
#title {
    margin-top: 10%;
    position: relative;
    left: 25%;
    font-weight: 500;
}

#cover {
    height: 50%;
    width: 100%;
    margin: 20% 0;

}

#header-title {
    font-size: 2em;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    margin-left: 40%;
    font-weight: 700;

}
#header-subtext {
    font-size: 1em;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .3px;
    -webkit-text-stroke-color: black;
    margin-left: 47%;
    color: white;
    font-weight: 500;
}
@media screen and (min-width: 2500px){
    #header-subtext {
        font-size: 3em;
    }
    #header-title {
        font-size: 4em;
    }
}

#container{
    position: fixed;
    top: 0;
    left: 0;

}
#cover-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 10px;
    width: 200px;
    height: 70px;
    margin-left:50%;
    outline: none;
    transition: background-color .4s, color .25s, transform .25s;
    font-weight: 700;
}

#cover-button:hover {
    box-shadow: 0 .5em -.2em rgb(126, 126, 126);
    transform: translateY(-.25em);
    cursor:pointer;
    color:white;
    background-color: black;
}

#aboutme {
    height: 100%;
    width: 100%;
    background-color: rgb(182, 179, 179);
    margin-top: 46%;
    padding: 0 0 5% 0;
}

#about-title {
    padding: 5% 0 5% 35%;
    font-size: 1.5em;
    color: rgb(48, 20, 20);
    font-weight: 500;
}

#name {
    margin-left: 35%;
    font-weight: 500;
}

#info {
    margin-left: 35%;
    margin-right: 5%;
    font-weight: 400;
    font-size: 1em;
}

#about-image {
    width: 300px;
    height: 300px;
    margin-left: 35%;
    
}

.img-side {
    position: absolute;
}
#about-title2 {
    color: rgb(48, 20, 20);
    top:173%;
    left: 60%;
}
#side-list {
    top: 180%;
    left:60%;
    font-size: 1.1em;
    font-weight: 400;
}

#skills-divider{
    color: purple;
    padding: 2px;  
    margin: 0 0 5% 32%;
    width:60%;
}

#skills-title {
    position: absolute;
    top: 240%;
    left: 35%;
    font-size: 2em;
    color: white;
    font-weight: 500;
}

#skills{
    background-color: rgb(182, 179, 179);
    padding: 4% 0 30% 0;
}

#skills-box {
    height: 30%;
    width: 50%;
    background-color: gray;
    margin-left: 32%;
    padding: 0 60% 40% 0
}